:root {
  --text: #000000;
  --main-clr: #fbdc4d;
  --red: #ea736d;
  --blue: #039be5;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "M PLUS 1p";
  color: var(--text);
  font-size: 18px;
}
a,
a:hover {
  text-decoration: none;
  display: inline-block;
}
.link--hover-active:hover {
  color: var(--blue);
}
.link--hover-active:active {
  color: var(--red);
}
h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}
svg {
  max-width: 100%;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul ::-moz-selection {
  background: #fbdc4d;
  color: var(--text);
}
ul ::selection {
  background: #fbdc4d;
  color: var(--text);
}
ul ::-moz-selection {
  background: #fbdc4d;
  color: var(--text);
}
ul ::-webkit-selection {
  background: #fbdc4d;
  color: var(--text);
}
button,
input {
  outline: none;
}
button {
  cursor: pointer;
}
.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
}
@media (min-width: 768px) {
  .container {
    padding: 0px 30px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0px;
  }
}
.underline {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.underline::after {
  content: "";
  position: absolute;
  left: -5%;
  bottom: 10px;
  background-color: var(--main-clr);
  height: 10px;
  width: 110%;
  z-index: -1;
}
p ::-moz-selection,
span .yellow ::-moz-selection {
  background: #fbdc4d;
  color: #fff;
}
p ::selection,
span .yellow ::selection {
  background: #fbdc4d;
  color: #fff;
}
p ::-moz-selection,
span .yellow ::-moz-selection {
  background: #fbdc4d;
  color: #fff;
}
p ::-webkit-selection,
span .yellow ::-webkit-selection {
  background: #fbdc4d;
  color: #fff;
}
h1 .underline::after {
  height: 15px;
  left: -1%;
  bottom: 10px;
  width: 102%;
}
.title-1 {
  font-size: 90px;
  font-weight: 800;
  line-height: 1.2;
}
.title-3 {
  font-size: 40px;
  font-weight: 800;
}
.btn {
  padding-left: 40px;
  padding-right: 40px;
  display: inline-block;
  height: 62px;
  line-height: 54px;
  background-color: var(--main-clr);
  border: 4px solid;
  border-color: var(--main-clr);
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  font-size: 22px;
  font-weight: 700;
  color: var(--text);
}
.btn:hover {
  background-color: #ffd200;
  border-color: #ffd200;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.btn:active {
  background-color: #e1bc10;
  border-color: #e1bc10;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.btn--light {
  background-color: white;
  border-color: #464646;
}
.btn--light:hover {
  background-color: white;
  color: #797979;
  border-color: #797979;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.btn--light:active {
  background-color: white;
  color: #181818;
  border-color: #181818;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.header {
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 240px;
  max-width: 1600px;
  background-image: url(../img/5-lines-bg.jpg);
  -moz-background-size: auto;
       background-size: auto;
  background-position: center;
  background-repeat: repeat-y;
}
.header__top {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1400px;
}
.header__top-logo {
  color: var(--text);
  font-size: 42px;
  font-weight: 900;
}
.header__top-nav {
  margin-left: 23px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.header__top-nav-item {
  position: relative;
  margin-right: 80px;
  font-size: 20px;
  font-weight: 700;
  color: var(--text);
  z-index: 2;
}
.header__top-nav-item:last-child {
  margin-right: 0;
}
.header__top-nav-item::after {
  content: "";
  position: absolute;
  left: -5%;
  bottom: 3px;
  background-color: var(--main-clr);
  height: 6px;
  width: 0;
  z-index: -1;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.header__top-nav-item:hover:after {
  width: 110%;
}
.header__top-nav-item:active:after {
  background-color: #ffd200;
  width: 120%;
}
.header__top-nav-item:focus {
  outline-style: dotted;
  outline-color: var(--red);
}
.header__top-icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 32px;
  color: black;
}
.header__top-icons .fa-linkedin-in:hover {
  color: #0077b5;
}
.header__top-icons .fa-github:hover {
  color: #6cc644;
}
.header__top-icons .fa-vk:hover {
  color: #45668e;
}
.header__top-icon {
  margin-right: 18px;
  color: black;
}
.header__top-icon:last-child {
  margin-right: 0;
}
.header__about {
  padding-top: 147px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.header__about-desc {
  width: 50%;
}
.header__about-title {
  margin-bottom: 15px;
}
.header__about-text {
  margin-bottom: 32px;
  width: 98%;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  color: #393f47;
}
.header__about-text p::-moz-selection {
  background: #fbdc4d;
}
.header__about-text p::selection {
  background: #fbdc4d;
}
.header__about-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.header__about-buttons a:first-child {
  margin-right: 13px;
}
.header__about-img {
  width: 50%;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  background-image: url(../img/header/anurov01.jpg);
  -moz-background-size: auto;
       background-size: auto;
  background-position: center -90px;
  background-repeat: no-repeat;
  background-color: #4483d2;
}
.header-img {
  margin-top: -53px;
  max-width: 1600px;
}
.header__skills {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.header__skills-desc {
  margin-right: 181px;
}
.header__skills-title {
  margin-bottom: 25px;
}
.skills-list {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 400;
}
.skills-list-item {
  margin-bottom: 3px;
  padding-left: 30px;
  position: relative;
}
.skills-list-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 19px;
  left: 0;
  width: 20px;
  height: 1px;
  background-color: #6b6b6b;
}
.skills-list-item:last-child {
  margin-bottom: 0;
}
.header__skills-title-contacts {
  margin-bottom: 32px;
}
.header__skills-contacts-icons {
  margin-bottom: 23px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 25px;
}
.skills-icon {
  margin-right: 32px;
}
.skills-icon:last-child {
  margin-right: 0;
}
.vk-icon {
  position: relative;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  background-color: #4d76a1;
}
.vk-icon .fa-vk {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.fb-icon {
  position: relative;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  background-color: #3b5998;
}
.fb-icon .fa-facebook-f {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.email {
  position: relative;
  color: black;
  font-size: 24px;
  font-weight: 400;
}
.email::after {
  position: absolute;
  content: "";
  display: block;
  bottom: 4px;
  width: 100%;
  height: 1px;
  background-color: black;
}
.email:hover:after {
  background-color: var(--blue);
}
.email:active:after {
  background-color: var(--red);
}
/*# sourceMappingURL=main.css.map */