:root {
  --text: #000000;
  --main-clr: #fbdc4d;
  --red: #ea736d;
  --blue: #039be5;
  --main-font: "M PLUS 1p";
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "M PLUS 1p";
  color: var(--text);
  font-size: 16px;
}
@media (min-width: 768px) {
  html,
  body {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  html,
  body {
    font-size: 20px;
  }
}
body.noscroll {
  overflow: hidden;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
#overlay.active {
  display: block;
}
form {
  display: block;
}
a,
a:hover {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.link--hover-active:hover {
  color: var(--blue);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.link--hover-active:active {
  color: var(--red);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
svg {
  max-width: 100%;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul ::-moz-selection {
  background: #fbdc4d;
  color: var(--text);
}
ul ::selection {
  background: #fbdc4d;
  color: var(--text);
}
ul ::-moz-selection {
  background: #fbdc4d;
  color: var(--text);
}
ul ::-webkit-selection {
  background: #fbdc4d;
  color: var(--text);
}
button,
textarea,
input {
  outline: none;
}
textarea {
  resize: none;
}
button {
  cursor: pointer;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
  max-width: 450px;
}
@media (min-width: 768px) {
  .container {
    padding: 0;
    max-width: 708px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.underline {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.underline::after {
  content: "";
  position: absolute;
  left: -5%;
  bottom: 10px;
  background-color: var(--main-clr);
  height: 10px;
  width: 110%;
  z-index: -1;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
h1 .underline::after {
  height: 13px;
  left: -1%;
  bottom: 3px;
  width: 102%;
}
@media (min-width: 1200px) {
  h1 .underline::after {
    height: 15px;
    left: -1%;
    bottom: 10px;
    width: 102%;
  }
}
h2 .underline::after {
  height: 12px;
  left: -1%;
  bottom: 11px;
  width: 102%;
}
@media (min-width: 768px) {
  h2 .underline::after {
    bottom: 14px;
  }
}
@media (min-width: 1200px) {
  h2 .underline::after {
    height: 13px;
    bottom: 17px;
  }
}
h4 .underline::after {
  height: 8px;
  left: -1%;
  bottom: 5px;
  width: 102%;
}
p ::-moz-selection,
span .yellow ::-moz-selection {
  background: #fbdc4d;
  color: #fff;
}
p ::selection,
span .yellow ::selection {
  background: #fbdc4d;
  color: #fff;
}
p ::-moz-selection,
span .yellow ::-moz-selection {
  background: #fbdc4d;
  color: #fff;
}
p ::-webkit-selection,
span .yellow ::-webkit-selection {
  background: #fbdc4d;
  color: #fff;
}
.title-1 {
  font-size: 42px;
  font-weight: 800;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .title-1 {
    font-size: 52px;
  }
}
@media (min-width: 1200px) {
  .title-1 {
    font-size: 90px;
  }
}
.title-2 {
  font-size: 42px;
  font-weight: 800;
}
@media (min-width: 768px) {
  .title-2 {
    font-size: 52px;
  }
}
@media (min-width: 1200px) {
  .title-2 {
    font-size: 64px;
  }
}
.title-3 {
  font-size: 30px;
  font-weight: 800;
}
@media (min-width: 768px) {
  .title-3 {
    font-size: 32px;
  }
}
@media (min-width: 1200px) {
  .title-3 {
    font-size: 40px;
  }
}
.title-4 {
  font-size: 22px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .title-4 {
    font-size: 22px;
  }
}
@media (min-width: 1200px) {
  .title-4 {
    font-size: 26px;
  }
}
.btn {
  padding-left: 40px;
  padding-right: 40px;
  display: inline-block;
  height: 62px;
  line-height: 54px;
  background-color: var(--main-clr);
  border: 4px solid;
  border-color: var(--main-clr);
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  color: var(--text);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
@media (min-width: 1200px) {
  .btn {
    font-size: 22px;
  }
}
.btn:hover {
  background-color: #ffd200;
  border-color: #ffd200;
}
.btn:active {
  background-color: #e1bc10;
  border-color: #e1bc10;
}
.btn--light {
  background-color: white;
  border-color: #464646;
}
.btn--light:hover {
  background-color: white;
  color: #797979;
  border-color: #797979;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.btn--light:active {
  background-color: white;
  color: #181818;
  border-color: #181818;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.none {
  display: none;
}
.link-underline {
  position: relative;
  color: black;
  font-size: 18px;
  font-weight: 400;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.link-underline::after {
  position: absolute;
  content: "";
  display: block;
  bottom: 4px;
  width: 100%;
  height: 1px;
  background-color: black;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
@media (min-width: 768px) {
  .link-underline {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .link-underline {
    position: relative;
    color: black;
    font-size: 24px;
    font-weight: 400;
  }
  .link-underline:hover:after {
    background-color: var(--blue);
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;
  }
  .link-underline:active:after {
    background-color: var(--red);
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;
  }
}
.header {
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 100px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .header {
    padding-bottom: 50px;
  }
}
@media (min-width: 1200px) {
  .header {
    padding-top: 75px;
    padding-bottom: 240px;
    max-width: 1600px;
    background-image: url(../img/5-lines-bg.png);
    -moz-background-size: auto;
         background-size: auto;
    background-position: center;
    background-repeat: repeat-y;
  }
}
.header__top-container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .header__top-container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1200px) {
  .header__top-container {
    max-width: 1460px;
  }
}
.header__top-logo {
  color: var(--text);
  font-size: 42px;
  font-weight: 900;
}
.header__top-nav {
  display: none;
}
@media (min-width: 1200px) {
  .header__top-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header__top-nav-item {
  position: relative;
  margin-right: 80px;
  font-size: 20px;
  font-weight: 700;
  color: var(--text);
  z-index: 2;
}
.header__top-nav-item:last-child {
  margin-right: 0;
}
.header__top-nav-item::after {
  content: "";
  position: absolute;
  left: -5%;
  bottom: 3px;
  background-color: var(--main-clr);
  height: 6px;
  width: 0;
  z-index: -1;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.header__top-nav-item:hover:after {
  width: 110%;
}
.header__top-nav-item:active:after {
  background-color: #ffd200;
  width: 120%;
}
.header__top-icons {
  display: none;
}
@media (min-width: 1200px) {
  .header__top-icons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 32px;
    color: black;
  }
}
.header__top-icons .fa-linkedin-in:hover {
  color: #0077b5;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.header__top-icons .fa-github:hover {
  color: #6cc644;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.header__top-icons .fa-vk:hover {
  color: #45668e;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.header__top-icon {
  margin-right: 18px;
  color: black;
}
.header__top-icon:last-child {
  margin-right: 0;
}
.header__top-icon span {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.header-img {
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  -webkit-transform: scale(1.5);
     -moz-transform: scale(1.5);
      -ms-transform: scale(1.5);
       -o-transform: scale(1.5);
          transform: scale(1.5);
  z-index: 1;
}
@media (min-width: 425px) {
  .header-img {
    -webkit-transform: scale(1.2);
       -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
         -o-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@media (min-width: 576px) {
  .header-img {
    -webkit-transform: scale(1.2);
       -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
         -o-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@media (min-width: 768px) {
  .header-img {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
    margin-top: -33px;
  }
}
@media (min-width: 1200px) {
  .header-img {
    margin-top: -109px;
    max-width: 1600px;
  }
}
.section-portfolio {
  padding-top: 43px;
  padding-bottom: 130px;
  background-color: #f4f8f9;
}
@media (min-width: 768px) {
  .section-portfolio {
    padding-top: 58px;
    padding-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  .section-portfolio {
    padding-top: 99px;
    padding-bottom: 120px;
  }
}
.section-portfolio__title {
  margin-bottom: 41px;
}
.view-all-link {
  margin-top: 39px;
  font-size: 20px;
  color: #039be5;
}
.view-all-link::after {
  background-color: #039be5;
}
@media (min-width: 768px) {
  .view-all-link {
    margin-top: 35px;
  }
}
@media (min-width: 1200px) {
  .view-all-link {
    display: none;
  }
}
@media (min-width: 768px) {
  .projects-block {
    min-height: 120%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-content: space-between;
        -ms-flex-line-pack: justify;
            align-content: space-between;
  }
}
.project-card + .project-card {
  margin-top: 45px;
}
@media (min-width: 768px) {
  .project-card {
    max-width: 338px;
  }
  .project-card + .project-card {
    margin-top: 0;
  }
  .project-card:last-child {
    display: none;
  }
  .project-card:nth-child(n + 3) {
    margin-top: 42px;
  }
}
@media (min-width: 1200px) {
  .project-card {
    max-width: 360px;
    display: block;
    overflow: hidden;
  }
  .project-card:nth-child(n + 3) {
    margin-top: 59px;
  }
  .project-card:last-child {
    display: block;
  }
}
@media (min-width: 1200px) {
  .project-card--large {
    max-width: 556px;
  }
  .project-card--large h4 {
    font-size: 32px;
  }
  .project-card--large h4::before {
    bottom: 1px !important;
    height: 2px !important;
  }
  .project-card--large .project-desc p {
    font-size: 22px;
  }
}
.project-img {
  margin-bottom: 28px;
  position: relative;
  overflow: hidden;
}
.project-img::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 200%;
  width: 100%;
  height: 100%;
  background-color: rgba(251, 220, 77, 0.8);
  z-index: 1;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  -moz-transition: 0.6s;
  transition: 0.6s;
}
.project-img span {
  display: block;
  position: absolute;
  left: -300px;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-left: 30px;
  padding-right: 30px;
  height: 53px;
  line-height: 45px;
  background-color: #fff;
  color: var(--red);
  font-family: var(--main-font);
  font-size: 22px;
  font-weight: 800;
  border: 2px solid #fff;
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  z-index: 2;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  -moz-transition: 0.6s;
  transition: 0.6s;
  white-space: nowrap;
}
.project-img span:hover {
  background-color: #ea736d;
  border-color: #ea736d;
  color: white;
}
.project-img span:active {
  background-color: #d4423b;
  border-color: #d4423b;
  color: white;
}
@media (min-width: 768px) {
  .project-img {
    margin-bottom: 38px;
  }
}
@media (min-width: 1200px) {
  .project-img {
    margin-bottom: 28px;
  }
}
.project-title {
  margin-bottom: 9px;
}
.project-title h4 {
  line-height: 1.1;
}
@media (min-width: 768px) {
  .project-title h4 {
    position: relative;
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  .project-title {
    margin-bottom: 8px;
  }
}
.project-title h4::before {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
@media (min-width: 768px) {
  .project-title h4::before {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--red);
  }
}
.project-desc {
  font-size: 16px;
  color: black;
}
@media (min-width: 768px) {
  .project-desc {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .project-desc {
    font-size: 20px;
  }
}
.project-card:hover .project-img span,
.project-card:active .project-img span {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.project-card:hover .project-img:after,
.project-card:active .project-img:after {
  display: block;
  top: 0;
  left: 0;
}
.project-card:hover h4,
.project-card:active h4 {
  color: var(--red);
}
.project-card:hover h4:before,
.project-card:active h4:before {
  width: 100%;
}
.section-timeline {
  padding-top: 60px;
  padding-bottom: 65px;
}
@media (min-width: 768px) {
  .section-timeline {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
@media (min-width: 1200px) {
  .section-timeline {
    padding-top: 125px;
    padding-bottom: 150px;
    background-image: url(../img/4-lines-bg.jpg);
    background-repeat: repeat-y;
    -moz-background-size: auto;
         background-size: auto;
    background-position: center;
  }
}
.section-timeline-container {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .section-timeline-container {
    max-width: 708px;
  }
}
@media (min-width: 1200px) {
  .section-timeline-container {
    max-width: 1005px;
  }
}
.section-timeline__title {
  margin-bottom: 46px;
  text-align: center;
}
@media (min-width: 768px) {
  .section-timeline__title {
    margin-bottom: 174px;
  }
}
@media (min-width: 1200px) {
  .section-timeline__title {
    margin-bottom: 165px;
  }
}
.section-timeline__title h2 {
  font-size: 38px;
}
@media (min-width: 768px) {
  .section-timeline__title h2 {
    font-size: 52px;
  }
}
@media (min-width: 1200px) {
  .section-timeline__title h2 {
    font-size: 64px;
  }
}
.section-timeline__title h2 .underline:after {
  bottom: 9px;
}
@media (min-width: 768px) {
  .section-timeline__title h2 .underline:after {
    bottom: 14px;
  }
}
@media (min-width: 1200px) {
  .section-timeline__title h2 .underline:after {
    bottom: 18px;
  }
}
.timeline-block-item {
  position: relative;
}
@media (min-width: 768px) {
  .timeline-block-item {
    text-align: right;
    max-width: 55%;
    padding-right: 104px;
  }
}
@media (min-width: 1200px) {
  .timeline-block-item {
    min-width: 42%;
    max-width: 53%;
    padding-right: 106px;
  }
}
@media (min-width: 768px) {
  .timeline-block-item:nth-child(1):before {
    content: "";
    display: block;
    position: absolute;
    top: -99px;
    bottom: 0;
    width: 4px;
    height: 57px;
    right: 35px;
    background-color: #e1eef4;
  }
}
@media (min-width: 1200px) {
  .timeline-block-item:nth-child(1):before {
    right: 27px;
  }
}
.timeline-block-item::after {
  content: "";
  display: block;
  position: absolute;
  left: 36px;
  top: 96px;
  bottom: -65px;
  width: 4px;
  height: 50%;
  background-color: #e1eef4;
}
@media (min-width: 768px) {
  .timeline-block-item::after {
    left: auto;
    right: 35px;
    top: 70px;
    bottom: -65px;
    height: 80%;
  }
}
@media (min-width: 1200px) {
  .timeline-block-item::after {
    right: 27px;
    height: 93%;
  }
}
.timeline-block-item:last-child:after {
  display: none;
}
.timeline-block-item:hover .icon-1 {
  fill: #f39a25;
}
.timeline-block-item:hover .icon-2 {
  fill: #ff1b1b;
}
.timeline-block-item:hover .icon-3 {
  fill: #8523f5;
}
.timeline-block-item:hover .icon-4 {
  fill: #0fc7a5;
}
.timeline-block-item:hover .icon-5 {
  fill: #188cf8;
}
.timeline-block-item:hover .underline::after {
  background-color: var(--red);
}
.timeline-block-item + .timeline-block-item {
  margin-top: 65px;
  position: relative;
}
@media (min-width: 768px) {
  .timeline-block-item + .timeline-block-item {
    margin-top: 90px;
  }
}
@media (min-width: 1200px) {
  .timeline-block-item + .timeline-block-item {
    margin-top: 105px;
  }
}
@media (min-width: 768px) {
  .timeline-block-item:nth-child(even) {
    margin-left: auto;
    padding-right: 0;
    padding-left: 103px;
    text-align: left;
  }
  .timeline-block-item:nth-child(even):after {
    left: 32px;
    right: auto;
  }
  .timeline-block-item:nth-child(even) .timeline-block-item-icon {
    left: -3px;
    right: auto;
  }
}
@media (min-width: 1200px) {
  .timeline-block-item:nth-child(even) {
    padding-left: 115px;
  }
}
.timeline-block-item-icon {
  position: absolute;
  left: 0;
  top: -2px;
  width: 74px;
  height: 74px;
  -webkit-border-radius: 28px;
     -moz-border-radius: 28px;
          border-radius: 28px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
     -moz-box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
          box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
  overflow: hidden;
}
@media (min-width: 768px) {
  .timeline-block-item-icon {
    left: auto;
    right: -3px;
    top: -24px;
  }
}
@media (min-width: 1200px) {
  .timeline-block-item-icon {
    right: -10px;
    top: -20px;
  }
}
.timeline-block-item-icon svg {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}
.timeline-block-item-icon svg .icon-1 {
  fill: #ffcf8f;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.timeline-block-item-icon svg .icon-2 {
  fill: #ff5b5b;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.timeline-block-item-icon svg .icon-3 {
  fill: #ac74ee;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.timeline-block-item-icon svg .icon-4 {
  fill: #51e5cb;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.timeline-block-item-icon svg .icon-5 {
  fill: #7cc0ff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.timeline-block-item-desc {
  padding-left: 101px;
}
@media (min-width: 768px) {
  .timeline-block-item-desc {
    padding-left: 0;
  }
}
.timeline-block-item-desc-title {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .timeline-block-item-desc-title {
    margin-bottom: 7px;
  }
}
.timeline-block-item-desc-title h4 {
  font-size: 20px;
  font-weight: 800;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .timeline-block-item-desc-title h4 {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .timeline-block-item-desc-title h4 {
    font-size: 26px;
  }
}
.timeline-block-item-desc-title h4 .underline::after {
  height: 0;
}
@media (min-width: 1200px) {
  .timeline-block-item-desc-title h4 .underline::after {
    height: 7px;
    bottom: 3px;
  }
}
.timeline-block-item-desc-text p {
  font-weight: 500;
  line-height: 1.4;
  font-size: 14px;
}
@media (min-width: 768px) {
  .timeline-block-item-desc-text p {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .timeline-block-item-desc-text p {
    font-size: 18px;
  }
}
.timeline-block-item-desc-text p span {
  margin-top: 7px;
  display: block;
  font-weight: 700;
}
@media (min-width: 768px) {
  .timeline-block-item-desc-text p span {
    font-size: 18px;
  }
}
.section-contacts {
  position: relative;
  padding: 60px 0 60px;
  background-color: #f4f8f9;
}
@media (min-width: 768px) {
  .section-contacts {
    padding: 90px 0 90px;
  }
}
@media (min-width: 1200px) {
  .section-contacts {
    padding: 150px 0;
    background-image: url(../img/section-contacts/stripes.jpg);
    -moz-background-size: auto;
         background-size: auto;
    background-position: center;
    background-repeat: repeat-y;
  }
}
.section-contacts__img {
  display: none;
}
@media (min-width: 1400px) {
  .section-contacts__img {
    display: block;
    position: absolute;
    top: 30%;
    left: -5%;
  }
}
.move-quotes {
  position: absolute;
  bottom: 10px;
  left: 20px;
}
.section-contacts__title {
  margin-bottom: 37px;
  text-align: center;
}
@media (min-width: 768px) {
  .section-contacts__title {
    margin-bottom: 50px;
  }
}
.section-contacts__contacts-block {
  position: relative;
}
@media (min-width: 768px) {
  .section-contacts__contacts-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.contacts-desc {
  width: 100%;
  line-height: 1.6;
}
@media (min-width: 768px) {
  .contacts-desc {
    width: 43%;
  }
}
@media (min-width: 1200px) {
  .contacts-desc {
    width: 44%;
    padding-top: 30px;
  }
}
.contacts-desc-text {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .contacts-desc-text {
    margin-bottom: 28px;
  }
}
@media (min-width: 1200px) {
  .contacts-desc-text {
    margin-bottom: 38px;
  }
}
.contacts-desc-list {
  position: relative;
  color: #96969d;
}
.contacts-desc-list-item {
  position: relative;
  font-size: 18px;
  font-weight: 500;
}
@media (min-width: 1200px) {
  .contacts-desc-list-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
  }
}
.contacts-desc-list-item p:first-child {
  min-width: 100px;
  margin-right: 100px;
  font-weight: 700;
  line-height: 1.5;
  color: black;
}
.contacts-desc-list-item a {
  color: #039be5;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.contacts-desc-list-item a:hover {
  color: var(--red);
}
.contacts-desc-list-item + .contacts-desc-list-item {
  margin-top: 9px;
}
@media (min-width: 1200px) {
  .contacts-desc-list-item + .contacts-desc-list-item {
    margin-top: 20px;
  }
}
.contacts-block-social-icons {
  margin-top: 31px;
  margin-bottom: 45px;
}
@media (min-width: 768px) {
  .contacts-block-social-icons {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .contacts-block-social-icons {
    margin-top: 45px;
  }
}
.contacts-form-block {
  width: 100%;
}
@media (min-width: 768px) {
  .contacts-form-block {
    width: 48%;
  }
}
@media (min-width: 1200px) {
  .contacts-form-block {
    width: 45%;
    margin-right: 20px;
  }
}
.toggle-menu {
  margin-right: 20px;
  width: 40px;
  height: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}
@media (min-width: 1200px) {
  .toggle-menu {
    display: none;
  }
}
.toggle-menu span {
  position: relative;
  display: block;
  height: 5px;
  width: 100%;
  background-color: black;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.toggle-menu span:after,
.toggle-menu span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: black;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.toggle-menu span::before {
  top: -10px;
}
.toggle-menu span::after {
  bottom: -10px;
}
.toggle-menu.active span {
  background-color: transparent;
}
.toggle-menu.active span::before {
  top: 0px;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}
.toggle-menu.active span::after {
  bottom: 0px;
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.mobile-menu {
  position: fixed;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 270px;
  background-color: var(--main-clr);
  opacity: 0.95;
  z-index: 5;
  -webkit-transform: translate(100%);
     -moz-transform: translate(100%);
      -ms-transform: translate(100%);
       -o-transform: translate(100%);
          transform: translate(100%);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  -webkit-border-radius: 25px 0 0 25px;
     -moz-border-radius: 25px 0 0 25px;
          border-radius: 25px 0 0 25px;
}
@media (min-width: 768px) {
  .mobile-menu {
    max-width: 550px;
  }
}
@media (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu.active {
  -webkit-transform: translate(0);
     -moz-transform: translate(0);
      -ms-transform: translate(0);
       -o-transform: translate(0);
          transform: translate(0);
}
.social-icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 25px;
}
.social-icon {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  margin-right: 30px;
}
@media (min-width: 768px) {
  .social-icon {
    margin-right: 32px;
  }
}
.social-icon:last-child {
  margin-right: 0;
}
.social-icon:hover {
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
}
.vk-icon {
  position: relative;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  background-color: #4d76a1;
}
.vk-icon .fa-vk {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.fb-icon {
  position: relative;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  background-color: #3b5998;
}
.fb-icon .fa-facebook-f {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.header__about {
  margin-top: 23px;
  z-index: 1;
}
@media (min-width: 768px) {
  .header__about {
    margin-top: 73px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
       -moz-box-orient: horizontal;
       -moz-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .header__about {
    margin-top: 147px;
  }
}
.header__about-img {
  margin-bottom: 53px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 450px;
  height: 289px;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  background-image: url(../img/header/anurov01.jpg);
  -moz-background-size: auto;
       background-size: auto;
  background-position: center -150px;
  background-repeat: no-repeat;
  background-color: #4483d2;
}
@media (min-width: 768px) {
  .header__about-img {
    margin: 0 0;
    width: 50%;
    height: auto;
    background-position: center -160px;
  }
}
@media (min-width: 1200px) {
  .header__about-img {
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    background-position: center -90px;
    width: 43%;
  }
}
.header__about-desc {
  width: 100%;
}
@media (min-width: 768px) {
  .header__about-desc {
    width: 50%;
  }
}
.header__about-title {
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .header__about-title {
    margin-bottom: 16px;
  }
}
@media (min-width: 1200px) {
  .header__about-title {
    margin-bottom: 15px;
  }
}
.header__about-text {
  margin-bottom: 35px;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.7;
  color: #393f47;
}
.header__about-text p::-moz-selection {
  background: #fbdc4d;
}
.header__about-text p::selection {
  background: #fbdc4d;
}
@media (min-width: 768px) {
  .header__about-text {
    margin-bottom: 0;
    width: 99%;
  }
}
@media (min-width: 1200px) {
  .header__about-text {
    margin-bottom: 35px;
    width: 98%;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    color: #393f47;
  }
}
.header__about-buttons {
  display: none;
}
@media (min-width: 1200px) {
  .header__about-buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__about-buttons a:first-child {
    margin-right: 13px;
  }
}
.header__skills {
  position: relative;
  margin-top: 73px;
}
@media (min-width: 768px) {
  .header__skills {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 11px;
  }
}
@media (min-width: 1200px) {
  .header__skills {
    padding-top: 147px;
    margin-top: -138px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header__skills-desc {
  width: 100%;
}
@media (min-width: 768px) {
  .header__skills-desc {
    width: 52%;
  }
}
@media (min-width: 1200px) {
  .header__skills-desc {
    width: 57%;
    min-width: 650px;
  }
}
.header__skills-desc .btn {
  display: none;
}
@media (min-width: 1200px) {
  .header__skills-desc .btn {
    display: inline-block;
  }
}
.header__skills-title {
  margin-bottom: 26px;
}
@media (min-width: 768px) {
  .header__skills-title {
    margin-bottom: 25px;
  }
}
@media (min-width: 1200px) {
  .header__skills-title {
    margin-bottom: 27px;
  }
}
.skills-list {
  margin-bottom: 36px;
  width: 94%;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.1;
}
@media (min-width: 768px) {
  .skills-list {
    margin-bottom: 40px;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .skills-list {
    margin-bottom: 42px;
    font-size: 24px;
    line-height: 1.5;
  }
}
.skills-list-item {
  margin-bottom: 19px;
}
.skills-list-item:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .skills-list-item {
    margin-bottom: 18px;
  }
}
@media (min-width: 1200px) {
  .skills-list-item {
    text-transform: lowercase;
    margin-bottom: 3px;
    padding-left: 30px;
    position: relative;
  }
  .skills-list-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 19px;
    left: 0;
    width: 20px;
    height: 1px;
    background-color: #6b6b6b;
  }
}
@media (min-width: 1200px) {
  .header__skills-contacts {
    min-width: 32%;
  }
}
.header__skills-title-contacts {
  margin-bottom: 19px;
}
@media (min-width: 1200px) {
  .header__skills-title-contacts {
    margin-bottom: 34px;
  }
}
.header__skills-social-icons {
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .header__skills-social-icons {
    margin-bottom: 19px;
  }
}
@media (min-width: 1200px) {
  .header__skills-social-icons {
    margin-bottom: 24px;
  }
}
.contacts-form {
  position: relative;
  padding: 55px 15px 40px;
  background-color: white;
  -webkit-box-shadow: 0px 28px 100px 0px #c2dbeb;
     -moz-box-shadow: 0px 28px 100px 0px #c2dbeb;
          box-shadow: 0px 28px 100px 0px #c2dbeb;
}
@media (min-width: 768px) {
  .contacts-form {
    padding: 60px 25px 40px;
  }
}
@media (min-width: 1200px) {
  .contacts-form {
    padding: 80px 60px 70px;
  }
}
.form-item {
  position: relative;
}
.form-item .form-field {
  width: 100%;
  height: 50px;
  border: 0;
  border-bottom: solid 2px #eaeaea;
  font-size: 20px;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .form-item .form-field {
    height: 50px;
  }
}
.form-item textarea.form-field {
  height: 127px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .form-item textarea.form-field {
    height: 130px;
  }
}
@media (min-width: 1200px) {
  .form-item textarea.form-field {
    height: 118px;
  }
}
.form-item + .form-item {
  margin-top: 33px;
}
@media (min-width: 1200px) {
  .form-item + .form-item {
    margin-top: 55px;
  }
}
.form-item:last-child {
  margin-top: 50px;
}
.form-submit {
  margin-top: 10px;
}
@media (min-width: 768px) {
  .form-submit {
    margin-top: 6px;
  }
}
@media (min-width: 1200px) {
  .form-submit {
    width: auto;
    margin-top: 34px;
  }
}
.form-submit input[type="submit"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  width: 100%;
}
@media (min-width: 1200px) {
  .form-submit input[type="submit"] {
    width: auto;
  }
}
.fake-placeholder {
  font-size: 20px;
  font-weight: 700;
  color: #bcbcbc;
  position: absolute;
  top: 9px;
  left: 0;
  pointer-events: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.message-fake-placeholder {
  top: 0;
}
.message-fake-placeholder.active {
  top: -32px !important;
}
.fake-placeholder.active {
  top: -25px;
  font-size: 16px;
  font-weight: 700;
  color: #ed9626;
}
label.error {
  font-size: 16px;
  font-weight: 700;
  color: var(--red);
}
.contact-form__success {
  font-size: 16px;
  color: var(--red);
  text-align: center;
  font-weight: 500;
  margin-top: 164px;
}
.footer {
  background-color: #333333;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .footer {
    padding-bottom: 45px;
  }
}
@media (min-width: 1200px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 40px;
  }
}
.footer-title {
  margin-bottom: 20px;
  font-size: 18px;
  color: white;
  font-weight: 500;
}
.footer-text {
  color: #b0b0b0;
  line-height: 1.6;
}
.footer-text a {
  display: inline-block;
  color: #b0b0b0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.footer-text a::after {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #b0b0b0;
  bottom: 5px;
  left: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.footer-text a:hover {
  color: white;
}
.footer-text a:hover::after {
  background-color: white;
}
#page-nav {
  position: fixed;
  right: 80px;
  top: 40%;
  z-index: 100;
}
#page-nav li {
  width: 14px;
  height: 14px;
  background-color: #89b4cb;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  margin-bottom: 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
#page-nav li:last-child {
  margin-bottom: 0px;
}
#page-nav li a {
  display: block;
  height: 100%;
}
#page-nav li.active {
  background-color: var(--red);
}
/*# sourceMappingURL=main.css.map */