:root {
  --text: #000000;
  --main-clr: #fbdc4d;
  --red: #ea736d;
  --blue: #039be5;
  --main-font: "M PLUS 1p";
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "M PLUS 1p";
  color: var(--text);
  font-size: 18px;
}
body.noscroll {
  overflow: hidden;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
#overlay.active {
  display: block;
}
a,
a:hover {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.link--hover-active:hover {
  color: var(--blue);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.link--hover-active:active {
  color: var(--red);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
svg {
  max-width: 100%;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul ::-moz-selection {
  background: #fbdc4d;
  color: var(--text);
}
ul ::selection {
  background: #fbdc4d;
  color: var(--text);
}
ul ::-moz-selection {
  background: #fbdc4d;
  color: var(--text);
}
ul ::-webkit-selection {
  background: #fbdc4d;
  color: var(--text);
}
button,
input {
  outline: none;
}
button {
  cursor: pointer;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
  max-width: 450px;
}
@media (min-width: 768px) {
  .container {
    padding: 0px 30px;
    max-width: 708px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0px;
    max-width: 1140px;
  }
}
.underline {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.underline::after {
  content: "";
  position: absolute;
  left: -5%;
  bottom: 10px;
  background-color: var(--main-clr);
  height: 10px;
  width: 110%;
  z-index: -1;
}
h1 .underline::after {
  height: 13px;
  left: -1%;
  bottom: 3px;
  width: 102%;
}
@media (min-width: 1200px) {
  h1 .underline::after {
    height: 15px;
    left: -1%;
    bottom: 10px;
    width: 102%;
  }
}
h2 .underline::after {
  height: 13px;
  left: -1%;
  bottom: 17px;
  width: 102%;
}
h4 .underline::after {
  height: 8px;
  left: -1%;
  bottom: 5px;
  width: 102%;
}
p ::-moz-selection,
span .yellow ::-moz-selection {
  background: #fbdc4d;
  color: #fff;
}
p ::selection,
span .yellow ::selection {
  background: #fbdc4d;
  color: #fff;
}
p ::-moz-selection,
span .yellow ::-moz-selection {
  background: #fbdc4d;
  color: #fff;
}
p ::-webkit-selection,
span .yellow ::-webkit-selection {
  background: #fbdc4d;
  color: #fff;
}
.title-1 {
  font-size: 42px;
  font-weight: 800;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .title-1 {
    font-size: 52px;
  }
}
@media (min-width: 1200px) {
  .title-1 {
    font-size: 90px;
  }
}
.title-2 {
  font-size: 64px;
  font-weight: 800;
}
.title-3 {
  font-size: 30px;
  font-weight: 800;
}
@media (min-width: 768px) {
  .title-3 {
    font-size: 32px;
  }
}
@media (min-width: 1200px) {
  .title-3 {
    font-size: 40px;
  }
}
.title-4 {
  font-size: 26px;
  font-weight: 700;
}
.btn {
  padding-left: 40px;
  padding-right: 40px;
  display: inline-block;
  height: 62px;
  line-height: 54px;
  background-color: var(--main-clr);
  border: 4px solid;
  border-color: var(--main-clr);
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  font-size: 22px;
  font-weight: 700;
  color: var(--text);
}
.btn:hover {
  background-color: #ffd200;
  border-color: #ffd200;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.btn:active {
  background-color: #e1bc10;
  border-color: #e1bc10;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.btn--light {
  background-color: white;
  border-color: #464646;
}
.btn--light:hover {
  background-color: white;
  color: #797979;
  border-color: #797979;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.btn--light:active {
  background-color: white;
  color: #181818;
  border-color: #181818;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.social-icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 25px;
}
.social-icon {
  margin-right: 32px;
}
.social-icon:last-child {
  margin-right: 0;
}
.social-icon:hover {
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.vk-icon {
  position: relative;
  width: 51px;
  height: 47px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  background-color: #4d76a1;
}
.vk-icon .fa-vk {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.fb-icon {
  position: relative;
  width: 51px;
  height: 47px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  background-color: #3b5998;
}
.fb-icon .fa-facebook-f {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.none {
  display: none;
}
.header {
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 100px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .header {
    padding-bottom: 85px;
  }
}
@media (min-width: 1200px) {
  .header {
    padding-top: 75px;
    padding-bottom: 240px;
    max-width: 1600px;
    background-image: url(../img/5-lines-bg.jpg);
    -moz-background-size: auto;
         background-size: auto;
    background-position: center;
    background-repeat: repeat-y;
  }
}
.header__top-container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .header__top-container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1200px) {
  .header__top-container {
    max-width: 1460px;
  }
}
.header__top-logo {
  color: var(--text);
  font-size: 42px;
  font-weight: 900;
}
.header__top-nav {
  display: none;
}
@media (min-width: 1200px) {
  .header__top-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header__top-nav-item {
  position: relative;
  margin-right: 80px;
  font-size: 20px;
  font-weight: 700;
  color: var(--text);
  z-index: 2;
}
.header__top-nav-item:last-child {
  margin-right: 0;
}
.header__top-nav-item::after {
  content: "";
  position: absolute;
  left: -5%;
  bottom: 3px;
  background-color: var(--main-clr);
  height: 6px;
  width: 0;
  z-index: -1;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.header__top-nav-item:hover:after {
  width: 110%;
}
.header__top-nav-item:active:after {
  background-color: #ffd200;
  width: 120%;
}
.header__top-nav-item:focus {
  outline-style: dotted;
  outline-color: var(--red);
}
.header__top-icons {
  display: none;
}
@media (min-width: 1200px) {
  .header__top-icons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 32px;
    color: black;
  }
}
.header__top-icons .fa-linkedin-in:hover {
  color: #0077b5;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.header__top-icons .fa-github:hover {
  color: #6cc644;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.header__top-icons .fa-vk:hover {
  color: #45668e;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.header__top-icon {
  margin-right: 18px;
  color: black;
}
.header__top-icon:last-child {
  margin-right: 0;
}
.header__about {
  margin-top: 30px;
  z-index: 10;
}
@media (min-width: 768px) {
  .header__about {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
       -moz-box-orient: horizontal;
       -moz-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .header__about {
    margin-top: 147px;
  }
}
.header__about-img {
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 450px;
  height: 298px;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  background-image: url(../img/header/anurov01.jpg);
  -moz-background-size: auto;
       background-size: auto;
  background-position: center -150px;
  background-repeat: no-repeat;
  background-color: #4483d2;
}
@media (min-width: 768px) {
  .header__about-img {
    margin: 0 0;
    width: 43%;
    height: auto;
    background-position: center -160px;
  }
}
@media (min-width: 1200px) {
  .header__about-img {
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    background-position: center -90px;
  }
}
.header__about-desc {
  width: 100%;
}
@media (min-width: 768px) {
  .header__about-desc {
    width: 50%;
  }
}
.header__about-title {
  margin-bottom: 15px;
}
.header__about-text {
  margin-bottom: 35px;
  width: 98%;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  color: #393f47;
}
.header__about-text p::-moz-selection {
  background: #fbdc4d;
}
.header__about-text p::selection {
  background: #fbdc4d;
}
@media (min-width: 768px) {
  .header__about-text {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .header__about-text {
    margin-bottom: 35px;
    width: 98%;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    color: #393f47;
  }
}
.header__about-buttons {
  display: none;
}
@media (min-width: 1200px) {
  .header__about-buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__about-buttons a:first-child {
    margin-right: 13px;
  }
}
.header-img {
  margin-top: -50px;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  -webkit-transform: scale(1.5);
     -moz-transform: scale(1.5);
      -ms-transform: scale(1.5);
       -o-transform: scale(1.5);
          transform: scale(1.5);
  z-index: 1;
}
@media (min-width: 425px) {
  .header-img {
    -webkit-transform: scale(1.2);
       -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
         -o-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@media (min-width: 576px) {
  .header-img {
    -webkit-transform: scale(1.2);
       -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
         -o-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@media (min-width: 768px) {
  .header-img {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }
}
@media (min-width: 1200px) {
  .header-img {
    margin-top: -109px;
    max-width: 1600px;
  }
}
.header__skills {
  padding-top: 100px;
  margin-top: -100px;
  position: relative;
}
@media (min-width: 768px) {
  .header__skills {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 1200px) {
  .header__skills {
    padding-top: 100px;
    margin-top: -100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }
}
.header__skills-desc {
  width: 100%;
}
.header__skills-desc .btn {
  display: none;
}
@media (min-width: 1200px) {
  .header__skills-desc .btn {
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  .header__skills-desc {
    width: 57%;
    min-width: 650px;
  }
}
.header__skills-title {
  margin-bottom: 25px;
}
.skills-list {
  width: 100%;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 400;
}
@media (min-width: 1200px) {
  .skills-list {
    font-size: 24px;
  }
}
.skills-list-item {
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .skills-list-item {
    text-transform: lowercase;
    margin-bottom: 3px;
    padding-left: 30px;
    position: relative;
  }
  .skills-list-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 19px;
    left: 0;
    width: 20px;
    height: 1px;
    background-color: #6b6b6b;
  }
  .skills-list-item:last-child {
    margin-bottom: 0;
  }
}
.header__skills-title-contacts {
  margin-bottom: 32px;
}
.header__skills-social-icons {
  margin-bottom: 23px;
}
.header__skills-email {
  position: relative;
  color: black;
  font-size: 18px;
  font-weight: 400;
}
.header__skills-email::after {
  position: absolute;
  content: "";
  display: block;
  bottom: 4px;
  width: 100%;
  height: 1px;
  background-color: black;
}
@media (min-width: 1200px) {
  .header__skills-email {
    position: relative;
    color: black;
    font-size: 24px;
    font-weight: 400;
  }
  .header__skills-email:hover:after {
    background-color: var(--blue);
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;
  }
  .header__skills-email:active:after {
    background-color: var(--red);
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;
  }
}
.section-portfolio {
  padding-top: 99px;
  padding-bottom: 130px;
  background-color: #f4f8f9;
}
.section-portfolio__title {
  margin-bottom: 48px;
}
.projects-block {
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}
.projects-block-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 47px;
}
.projects-block-nav-item {
  font-size: 28px;
  font-weight: 900;
  margin-right: 77px;
  color: #8fa5ae;
  cursor: pointer;
}
.projects-block-nav-item:hover,
.projects-block-nav-item:active {
  color: var(--red);
}
.projects-block-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.project-card {
  margin-bottom: 58px;
  max-width: 360px;
  background-color: #f4f8f9 !important;
  display: block;
  overflow: hidden;
}
.project-card:nth-child(n + 3) {
  margin-bottom: 0;
}
.project-card--large {
  max-width: 550px;
}
.project-card--large h4 {
  font-size: 32px;
}
.project-card--large .project-desc p {
  font-size: 22px;
}
.project-img {
  margin-bottom: 24px;
  position: relative;
  overflow: hidden;
}
.project-img::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 200%;
  width: 100%;
  height: 100%;
  background-color: rgba(251, 220, 77, 0.8);
  z-index: 1;
}
.project-img button {
  position: absolute;
  left: -300px;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-left: 30px;
  padding-right: 30px;
  height: 53px;
  background-color: #fff;
  color: var(--red);
  font-family: var(--main-font);
  font-size: 22px;
  font-weight: 800;
  border: 2px solid #fff;
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  z-index: 2;
}
.project-img button:hover {
  background-color: #ea736d;
  border-color: #ea736d;
  color: white;
}
.project-img button:active {
  background-color: #d4423b;
  border-color: #d4423b;
  color: white;
}
.project-title h4 {
  position: relative;
  display: inline-block;
}
.project-title h4::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--red);
}
.project-desc {
  font-size: 20px;
  color: black;
}
.project-card:hover .project-img button,
.project-card:active .project-img button {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.project-card:hover .project-img:after,
.project-card:active .project-img:after {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  display: block;
  top: 0;
  left: 0;
}
.project-card:hover h4,
.project-card:active h4 {
  color: var(--red);
}
.project-card:hover h4:before,
.project-card:active h4:before {
  width: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.section-timeline {
  padding-top: 125px;
  padding-bottom: 150px;
  background-image: url(../img/4-lines-bg.jpg);
  background-repeat: repeat-y;
  -moz-background-size: auto;
       background-size: auto;
  background-position: center;
}
.section-timeline__title {
  margin-bottom: 163px;
  text-align: center;
}
.section-timeline__timeline-block {
  padding-left: 68px;
  padding-right: 68px;
}
.timeline-block-item {
  position: relative;
  min-width: 42%;
  max-width: 53%;
  padding-right: 108px;
  text-align: right;
}
.timeline-block-item:nth-child(1):before {
  content: "";
  display: block;
  position: absolute;
  top: -94px;
  bottom: 0;
  width: 4px;
  height: 57px;
  right: 26px;
  background-color: #e1eef4;
}
.timeline-block-item::after {
  content: "";
  display: block;
  position: absolute;
  right: 27px;
  top: 76px;
  bottom: -65px;
  width: 4px;
  height: 90%;
  background-color: #e1eef4;
}
.timeline-block-item:hover .icon-1 {
  fill: #f39a25;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.timeline-block-item:hover .icon-2 {
  fill: #ff1b1b;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.timeline-block-item:hover .icon-3 {
  fill: #8523f5;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.timeline-block-item:hover .icon-4 {
  fill: #0fc7a5;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.timeline-block-item:hover .icon-5 {
  fill: #188cf8;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.timeline-block-item:nth-child(even) {
  margin-left: auto;
  padding-right: 0;
  padding-left: 115px;
  text-align: left;
}
.timeline-block-item:nth-child(even):after {
  left: 29px;
  right: auto;
}
.timeline-block-item:nth-child(even) .timeline-block-item-icon {
  left: -4px;
  right: auto;
}
.timeline-block-item + .timeline-block-item {
  margin-top: 101px;
  position: relative;
}
.timeline-block-item-desc-title {
  margin-bottom: 5px;
}
.timeline-block-item-desc-text p {
  font-weight: 500;
  line-height: 1.3;
}
.timeline-block-item-desc-text p span {
  margin-top: 11px;
  display: block;
  font-weight: 700;
}
.timeline-block-item-icon {
  position: absolute;
  right: -11px;
  top: -17px;
  width: 74px;
  height: 74px;
  -webkit-border-radius: 28px;
     -moz-border-radius: 28px;
          border-radius: 28px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
     -moz-box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
          box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
  overflow: hidden;
}
.timeline-block-item-icon svg {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}
.timeline-block-item-icon svg .icon-1 {
  fill: #ffcf8f;
}
.timeline-block-item-icon svg .icon-2 {
  fill: #ff5b5b;
}
.timeline-block-item-icon svg .icon-3 {
  fill: #ac74ee;
}
.timeline-block-item-icon svg .icon-4 {
  fill: #51e5cb;
}
.timeline-block-item-icon svg .icon-5 {
  fill: #7cc0ff;
}
.section-contacts {
  position: relative;
  padding: 150px 0;
  background-color: #f4f8f9;
  overflow: hidden;
}
.section-contacts__title {
  margin-bottom: 70px;
  text-align: center;
}
.section-contacts__contacts-block {
  padding-right: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contacts-desc {
  width: 48%;
}
.contacts-desc-text {
  margin-bottom: 50px;
}
.contacts-block-info {
  margin-bottom: 45px;
}
.contacts-table {
  position: relative;
  font-size: 20px;
}
.contacts-table tr {
  height: 40px;
}
.contacts-table th {
  text-align: left;
  width: 40%;
  font-weight: 700;
}
.contacts-table td {
  width: 100%;
  color: #96969d;
}
.contacts-table .td-link {
  color: #039be5;
}
.contacts-table .td-link--gray {
  color: #96969d;
}
.contacts-form {
  width: 45%;
  padding-top: 50px;
  padding-bottom: 40px;
  background-color: white;
  -webkit-box-shadow: 0px 28px 100px 0px rgba(194, 219, 235, 0.004);
     -moz-box-shadow: 0px 28px 100px 0px rgba(194, 219, 235, 0.004);
          box-shadow: 0px 28px 100px 0px rgba(194, 219, 235, 0.004);
}
.Path {
  background-color: #9eb6d2;
  position: absolute;
  left: 41px;
  top: 304px;
  width: 140px;
  height: 243px;
  z-index: 369;
}
.toggle-menu {
  width: 40px;
  height: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}
@media (min-width: 1200px) {
  .toggle-menu {
    display: none;
  }
}
.toggle-menu span {
  position: relative;
  display: block;
  height: 5px;
  width: 100%;
  background-color: black;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.toggle-menu span:after,
.toggle-menu span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: black;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.toggle-menu span::before {
  top: -10px;
}
.toggle-menu span::after {
  bottom: -10px;
}
.toggle-menu.active span {
  background-color: transparent;
}
.toggle-menu.active span::before {
  top: 0px;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: var(--red);
}
.toggle-menu.active span::after {
  bottom: 0px;
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: var(--red);
}
.mobile-menu {
  position: fixed;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 270px;
  background-color: var(--main-clr);
  opacity: 0.95;
  z-index: 5;
  -webkit-transform: translate(100%);
     -moz-transform: translate(100%);
      -ms-transform: translate(100%);
       -o-transform: translate(100%);
          transform: translate(100%);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  -webkit-border-radius: 25px 0 0 25px;
     -moz-border-radius: 25px 0 0 25px;
          border-radius: 25px 0 0 25px;
}
@media (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu.active {
  -webkit-transform: translate(0);
     -moz-transform: translate(0);
      -ms-transform: translate(0);
       -o-transform: translate(0);
          transform: translate(0);
}
/*# sourceMappingURL=main.css.map */