// header ------------------------------------------- base
.header {
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 100px;
  overflow: hidden;
  // Для планшетов от 768px
  @media (min-width: 768px) {
    padding-bottom: 50px;
  }
  // Для десктопа от 1200px
  @media (min-width: 1200px) {
    padding-top: 75px;
    padding-bottom: 240px;
    max-width: 1600px;

    background-image: url(../img/5-lines-bg.jpg);
    background-size: auto;
    background-position: center;
    background-repeat: repeat-y;
  }
}

// header -------------------------------------------- top
.header__top-container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // Для планшетов от 768px
  @media (min-width: 768px) {
    padding-left: 30px;
    padding-right: 30px;
  }
  // Для десктопа от 1200px
  @media (min-width: 1200px) {
    max-width: 1460px;
  }
}

.header__top-logo {
  color: var(--text);
  font-size: 42px;
  font-weight: 900;
}

.header__top-nav {
  display: none;
  // Для десктопа от 1200px
  @media (min-width: 1200px) {
    display: flex;
  }
}

.header__top-nav-item {
  position: relative;
  margin-right: 80px;
  font-size: 20px;
  font-weight: 700;
  color: var(--text);

  z-index: 2;

  &:last-child {
    margin-right: 0;
  }
  &::after {
    content: "";
    position: absolute;
    left: -5%;
    bottom: 3px;
    background-color: var(--main-clr);
    height: 6px;
    width: 0;
    z-index: -1;
    transition: 0.2s;
  }
  &:hover:after {
    width: 110%;
  }
  &:active:after {
    background-color: #ffd200;
    width: 120%;
  }
}

.header__top-icons {
  display: none;
  // Для десктопа от 1200px
  @media (min-width: 1200px) {
    display: flex;
    font-size: 32px;
    color: black;
  }

  & .fa-linkedin-in:hover {
    color: #0077b5;
    transition: 0.2s;
  }

  & .fa-github:hover {
    color: #6cc644;
    transition: 0.2s;
  }

  & .fa-vk:hover {
    color: #45668e;
    transition: 0.2s;
  }
}

.header__top-icon {
  margin-right: 18px;
  color: black;

  &:last-child {
    margin-right: 0;
  }
}

// header --------------------------------- img
.header-img {
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  transform: scale(1.5);

  z-index: 1;
  // Для смартфонов от 425px
  @media (min-width: 425px) {
    transform: scale(1.2);
  }
  // Для смартфонов от 576px
  @media (min-width: 576px) {
    transform: scale(1.2);
  }
  // Для планшетов от 768px
  @media (min-width: 768px) {
    transform: scale(1);
    margin-top: -33px;
  }
  // Для десктопа от 1200px
  @media (min-width: 1200px) {
    margin-top: -109px;
    max-width: 1600px;
  }
}
