.header {
  margin: 0 auto;
  max-width: 1600px;
  padding-top: 70px;
  padding-bottom: 240px;
  background-image: url(../img/header/header-lines.jpg);
  background-size: auto;
  background-position: center;
  background-repeat: repeat-y;
}

.header__top {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
}

.header__top-logo {
  font-size: 42px;
  font-weight: 900;
}

.header__top-nav {
  margin-left: 23px;
  display: flex;
}

.header__top-nav-item {
  margin-right: 80px;
  font-size: 20px;
  font-weight: 700;
  color: var(--text);

  &:last-child {
    margin-right: 0;
  }
}

.header__top-icons {
  display: flex;
  font-size: 32px;
}

.header__top-icon {
  margin-right: 18px;
  color: black;

  &:last-child {
    margin-right: 0;
  }
}

.header__content-main {
  padding-top: 147px;
  display: flex;
  position: relative;
}

.header__content-main-desc {
  width: 50%;
}

.header__content-main-img {
  width: 50%;
  padding-top: 25px;
  padding-left: 115px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -17%;
    right: -16%;
    width: 500px;
    height: 100px;
    background-image: -moz-linear-gradient(
      90deg,
      rgb(244, 248, 249) 0%,
      rgba(244, 248, 249, 0) 100%
    );
    background-image: -webkit-linear-gradient(
      90deg,
      rgb(244, 248, 249) 0%,
      rgba(244, 248, 249, 0) 100%
    );
    background-image: -ms-linear-gradient(
      90deg,
      rgb(244, 248, 249) 0%,
      rgba(244, 248, 249, 0) 100%
    );
    opacity: 0.502;
  }
}

.header__content-main-title {
  margin-bottom: 15px;
  font-size: 90px;
  font-weight: 800;
  line-height: 1.2;
}

.header__content-main-text {
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  color: #393f47;
}

.header__content-main-desc-buttons {
  display: flex;

  a:first-child {
    margin-right: 23px;
  }
}

.header-image {
  margin-top: -127px;
  margin-bottom: -11px;
  max-width: 1600px;
}

.header__bottom {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.header-title {
  margin-bottom: 27px;
  font-size: 40px;
  font-weight: 800;
}

.about-me-list {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 400;
}

.about-me-list-item {
  margin-bottom: 4px;
  padding-left: 30px;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 18px;
    left: 0;
    width: 20px;
    height: 1px;
    background-color: #6b6b6b;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.header__bottom-contacts {
  padding-right: 112px;
}

.header-bottom__contacts-icons {
  display: flex;
  font-size: 25px;
}
