.projects-block-nav {
  display: none;

  // Для планшетов от 768px
  @media (min-width: 768px) {
    max-width: 90%;
    margin-bottom: 44px;
    display: flex;
    justify-content: space-between;
  }
  // Для десктопа от 1200px
  @media (min-width: 1200px) {
    max-width: 72%;
    margin-bottom: 50px;
  }
}

.projects-block-nav-item {
  // Для планшетов от 768px
  @media (min-width: 768px) {
    border: none;
    background-color: #f4f8f9;
    font-size: 24px;
    font-weight: 900;
    color: #8fa5ae;
    cursor: pointer;
    &:hover,
    &:active {
      color: var(--red);
    }
  }
  // Для десктопа от 1200px
  @media (min-width: 1200px) {
    font-size: 28px;
  }
}

.projects-block {
  // Для планшетов от 768px
  @media (min-width: 768px) {
    min-height: 120%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
  }
  // Для десктопа от 1200px
  @media (min-width: 1200px) {
  }
}

.project-card {
  & + .project-card {
    margin-top: 45px;
  }
  // Для планшетов от 768px
  @media (min-width: 768px) {
    max-width: 338px;

    & + .project-card {
      margin-top: 0;
    }

    &:last-child {
      display: none;
    }

    &:nth-child(n + 3) {
      margin-top: 42px;
    }
  }
  // Для десктопа от 1200px
  @media (min-width: 1200px) {
    max-width: 360px;
    display: block;
    overflow: hidden;
    &:nth-child(n + 3) {
      margin-top: 59px;
    }
    &:last-child {
      display: block;
    }
  }
}

.project-card--large {
  // Для планшетов от 768px
  @media (min-width: 768px) {
  }
  // Для десктопа от 1200px
  @media (min-width: 1200px) {
    max-width: 556px;
    h4 {
      font-size: 32px;
    }
    .project-desc p {
      font-size: 22px;
    }
  }
}

.project-img {
  margin-bottom: 28px;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 200%;
    width: 100%;
    height: 100%;
    background-color: rgba(251, 220, 77, 0.8);
    z-index: 1;
  }
  button {
    position: absolute;
    left: -300px;
    top: 50%;
    transform: translateY(-50%);

    padding-left: 30px;
    padding-right: 30px;
    height: 53px;

    background-color: #fff;
    color: var(--red);
    font-family: var(--main-font);
    font-size: 22px;
    font-weight: 800;

    border: 2px solid #fff;
    border-radius: 30px;
    z-index: 2;
  }
  button:hover {
    background-color: #ea736d;
    border-color: #ea736d;
    color: white;
  }
  button:active {
    background-color: #d4423b;
    border-color: #d4423b;
    color: white;
  }
  // Для планшетов от 768px
  @media (min-width: 768px) {
    margin-bottom: 38px;
  }
  // Для десктопа от 1200px
  @media (min-width: 1200px) {
    margin-bottom: 28px;
  }
}

.project-title {
  margin-bottom: 9px;
  h4 {
    line-height: 1.1;
  }
  // Для планшетов от 768px
  @media (min-width: 768px) {
    h4 {
      position: relative;
      display: inline-block;
    }
  }
  // Для десктопа от 1200px
  @media (min-width: 1200px) {
    margin-bottom: 8px;
  }
}

.project-title h4::before {
  // Для планшетов от 768px
  @media (min-width: 768px) {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--red);
  }
  // Для десктопа от 1200px
  @media (min-width: 1200px) {
  }
}

.project-desc {
  font-size: 16px;
  color: black;
  // Для планшетов от 768px
  @media (min-width: 768px) {
    font-size: 18px;
  }
  // Для десктопа от 1200px
  @media (min-width: 1200px) {
    font-size: 20px;
  }
}

.project-card:hover,
.project-card:active {
  .project-img button {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
  }
  .project-img:after {
    transition: 0.5s;
    display: block;
    top: 0;
    left: 0;
  }
  h4 {
    color: var(--red);
  }
  h4:before {
    width: 100%;
    transition: 0.5s;
  }
}
