.section-contacts {
  position: relative;
  padding: 60px 0 60px;
  background-color: #f4f8f9;
  // Для планшетов от 768px
  @media (min-width: 768px) {
    padding: 90px 0 90px;
  }
  // Для десктопа от 1200px
  @media (min-width: 1200px) {
    padding: 150px 0;
    background-image: url(../img/section-contacts/stripes.jpg);
    background-size: auto;
    background-position: center;
    background-repeat: repeat-y;
  }
}

.section-contacts__img {
  display: none;
  // Для десктопа от 1200px
  @media (min-width: 1400px) {
    display: block;
    position: absolute;
    top: 30%;
    left: -5%;
  }
}

.move-quotes {
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.section-contacts__title {
  margin-bottom: 37px;
  text-align: center;
  // Для планшетов от 768px
  @media (min-width: 768px) {
    margin-bottom: 50px;
  }
}

.section-contacts__contacts-block {
  position: relative;

  // Для планшетов от 768px
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.contacts-desc {
  width: 100%;
  line-height: 1.6;
  // Для планшетов от 768px
  @media (min-width: 768px) {
    width: 43%;
  }
  // Для десктопа от 1200px
  @media (min-width: 1200px) {
    width: 44%;
    padding-top: 30px;
  }
}

.contacts-desc-text {
  margin-bottom: 20px;
  // Для планшетов от 768px
  @media (min-width: 768px) {
    margin-bottom: 28px;
  }
  // Для десктопа от 1200px
  @media (min-width: 1200px) {
    margin-bottom: 38px;
  }
}

.contacts-desc-list {
  position: relative;
  color: #96969d;
}

.contacts-desc-list-item {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  // Для десктопа от 1200px
  @media (min-width: 1200px) {
    display: flex;
    font-size: 20px;
  }

  p:first-child {
    min-width: 100px;
    margin-right: 100px;
    font-weight: 700;
    line-height: 1.5;
    color: black;
  }

  a {
    color: #039be5;
    transition: 0.5s;
  }

  a:hover {
    color: var(--red);
  }
}

.contacts-desc-list-item + .contacts-desc-list-item {
  margin-top: 9px;
  // Для десктопа от 1200px
  @media (min-width: 1200px) {
    margin-top: 20px;
  }
}

.contacts-block-social-icons {
  margin-top: 31px;
  margin-bottom: 45px;

  // Для планшетов от 768px
  @media (min-width: 768px) {
    margin-bottom: 0;
  }
  // Для десктопа от 1200px
  @media (min-width: 1200px) {
    margin-top: 45px;
  }
}

.contacts-form-block {
  width: 100%;
  // Для планшетов от 768px
  @media (min-width: 768px) {
    width: 48%;
  }
  // Для десктопа от 1200px
  @media (min-width: 1200px) {
    width: 45%;
    margin-right: 20px;
  }
}
