.section-portfolio {
  padding-top: 43px;
  padding-bottom: 130px;
  background-color: #f4f8f9;
  overflow: hidden;

  // Для планшетов от 768px
  @media (min-width: 768px) {
    padding-top: 58px;
    padding-bottom: 80px;
  }
  // Для десктопа от 1200px
  @media (min-width: 1200px) {
    padding-top: 99px;
    padding-bottom: 120px;
  }
}

.section-portfolio__title {
  margin-bottom: 41px;
}

.section-portfolio__projects-block-wrapper {
}


