.social-icons {
  display: flex;
  font-size: 25px;
}

.social-icon {
  transition: 0.5s;
  margin-right: 30px;
  // Для планшетов от 768px
  @media (min-width: 768px) {
    margin-right: 32px;
  }
  // Для десктопа от 1200px
  @media (min-width: 1200px) {
  }
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    transform: scale(1.1);
  }
}

.vk-icon {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #4d76a1;
  .fa-vk {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.fb-icon {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #3b5998;
  .fa-facebook-f {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
